*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}
main{
    min-width: 500px;
}

.ms__header_row{
    background-color: black;
    height: 50px;
}

header img{
    height: 50%;
    margin-right: 20px;
}


li{
    list-style-type: none;

}
 header li{
    margin-right: 10%;
    font-size: 18px
}
header li img {
    transform: scale(1.2);
}
a{
    text-decoration: none;
}
header a{
    color: black;
    font-weight: 500;
}
header button{
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 20px;
    background-color:rgb(71, 71, 71);
    color: white;
}
header i{
    transform: scale(1.5);
    vertical-align: bottom;
}

#jumbotron_section{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    padding-bottom: 60px;
    height: 700px;
    color: white;
}

button{
    padding: 5px 10px;
    color: white;
    border-radius: 30px;
}

.orange_button{
    background-color: rgb(195, 64, 3);
    border: 1px solid rgb(195, 64, 3);

}

.immagine_ridotta{
    width: 60%;
}

.thumb__:hover{
    background-color: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}
.copertina img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.colored_border{
    border: 2px solid white;
    padding: 5px;
    border-radius: 15px;
}
.colored_border:hover{
    border-color: rgb(0, 98, 255);
    cursor: pointer;
}

.color_blue{
    color:rgb(0, 98, 255) ;
}

#placement_title{
    margin-top: 100px;
}

.descrizione{
    color: grey;
    font-weight: 400;
    font-size: 20px;
}


.blue_button{
    background-color: rgb(0, 98, 255);
    border: 1px solid rgb(0, 98, 255);
}

#accessori div{
    text-align: center;
    border-bottom: 5px solid white;
}
#accessori div:hover{
    border-bottom: 5px solid rgb(0, 98, 255);
}
#accessori div img{
    width: 100%;
    transform: scale(0.5);
}
#accessori div span{
    font-size: 1.2em;
    color: grey;
}

#takes_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#nuove_uscite{
    background-color: rgb(36, 36, 36);
    color: white;
}

.thumb__ img,
.explore__ img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.game_title{
    width: 100%; 
}  

#explore_title span,
.explore__ p,
#sconti_section p{
    color: grey;
    font-size: 1.4em;
    font-weight: 500;
}

.explore__{
    margin-top: 100px;
}

#plus_section{
    background-color: rgb(190, 190, 190);
}

#plus_section button{
    border: 1px solid rgb(206, 206, 206);
    background-color: rgb(206, 206, 206);
}

.plus_img{
    width: 50% ;
}
.plus_img img,
.ps5_img img,
#sconti_banner div img{
    width: 100%;
}

#playstation_now{
    background-color: rgb(0, 0, 59);
}

#playstation_now p{
    color: white;
}
#playstation_now button{
    background-color: white;
    border: 1px solid white;
    color: black;
}

.box{
    width: 150px;
    height: 150px;
}

.box img{
    width: 100%;
    border-radius: 15px;
}

footer{
    background-color: rgb(0, 98, 255);
}

footer a,
footer p{
    color: white;
}


footer a:hover,
footer span{
    color: white;
    text-decoration: underline;
}

#sie_img{
    width: 150px;
}


@media screen and (max-width: 576px){
    #plus_section{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #plus_featured_img,
    #ps_now_banner{
        display: none;
    }

    #sconti_banner div{
        margin-bottom: 50px;
    }
}

