*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .row{
    background-color: black;
    height: 50px;
}

header img{
    height: 50%;
}

header nav{
    height: 100px;
    background-color: blue;
}

.jumbotron{
    background-color: royalblue;
    height: 600px;
}